body {
  background-color: #C5D6D8;
  font-family: "Arial Black", Gadget, sans-serif;
}

div {
     margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    border: 1px solid grey;
    text-align: center;
}



.pipe-separate {
  display: inline;
  list-style-type: none;
  padding-left: 1em;
  padding-right: 1em;
  border-right: 1px solid;
}

.pipe-separate:first-of-type {
  padding-left: 0;
}

.pipe-separate:last-of-type {
  padding-right: 0;
  border-right: none;
}

