
body {
  background-color: #C5D6D8;
  font-family: "Arial Black", Gadget, sans-serif;
}

.main {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    border: 1px solid grey;
    text-align: center;
}

#pipe-photo {
  margin-left: auto;
  margin-right: auto;
  width: 6em
}


.pipe-separate {
  display: inline;
  list-style-type: none;
  padding-left: 1em;
  padding-right: 1em;
  border-right: 1px solid;
}

.pipe-separate:first-of-type {
  padding-left: 0;
}

.pipe-separate:last-of-type {
  padding-right: 0;
  border-right: none;
}

.left-list {
  text-align: left;
}

.exercise-list {
  text-align: left;
  list-style-type: none;
}

#pipe-photo {
  display: block;
  align: center;
}
