<h1>Welcome <%=@user.username%>!</h1>

<% if @exercises %>
  <h2>This is a list of all your exercises:</h2>
    <ul>
    <% @exercises.each do |exercise| %>
      <li><%=exercise.description%></li>
    <% end %>
    </ul>
<% else %>
  <h2>You have not done any exercises yet! Let's get started!</h2>
<% end %>