<!DOCTYPE html>
<html lang="en">
<head>
    <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
<nav>
  <ul id="nav-mobile" class="right hide-on-med-and-down">  
    <% if logged_in? %>
      <li class="pipe-separate"><a href="users/<%=current_user.id%>"><%=current_user.username%></a></li>
      <li class="pipe-separate"><a href="/">home</a></li>
      <li class="pipe-separate"><a href="/sessions">logout</a></li>
    <% else %>
      <li class="pipe-separate"><a href="/">home</a></li>
      <li class="pipe-separate"><a href="/users/new">register</a></li>
      <li class="pipe-separate"><a href="/sessions/new">login</a></li>
    <% end %>
  </ul>
</nav>
  <%= yield %>
</body>
</html>
