<div class="main">
<h1>Welcome to Gettercise!</h1>

<%if logged_in? %>
  <section id="pipe-photo">
<img src="http://media-cache-ak0.pinimg.com/736x/49/9e/bb/499ebbf0a85578bda6646b9a75e36c30.jpg" height="300" width="400" >
</section>
<%else%>
  <h2>Please login to get started</h2>
<% end %>

</div>